.user-homepage {
    width: 100vw;
    height: 100%;
    display: inline-block;
    padding: 5rem;
    min-height: 100vh;
    /* max-width: 1000px;
    margin: 0 auto; */
    padding: 20px;
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 5% 9%, rgba(101, 72, 180, 1) 0%, rgba(3, 2, 76, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 5% 9%, rgba(101, 72, 180, 1) 0%, rgba(3, 2, 76, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 5% 9%, rgba(101, 72, 180, 1) 0%, rgba(3, 2, 76, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 5% 9%, rgba(101, 72, 180, 1) 0%, rgba(3, 2, 76, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 5% 9%, rgba(101, 72, 180, 1) 0%, rgba(3, 2, 76, 1) 100%);
  }

  hr{
    display: flex;
    margin-left: 48rem;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: white;
    width: 6%;
  }

  .devices hr{
    display: flex;
    margin-left: 48rem;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: white;
    width: 6%;
    margin-top: 7rem;
    margin-bottom: 3.5rem;
  }
  
  .header {
    margin-bottom: 40px;
    /* : var(--gradient-text); */
  }
  
.p_text{
    font-size: 1.75rem;
    color: #fad5d5;
    display: flex;
    padding: 0.1rem 1.5rem;
    
}

  .devices {
    height: 100%;
    margin-top: 40px;
  }
  
  .devices h2 {
    font-family: var(--font-family);
    margin: 0 0 20px 1.2rem;
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clop: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
  }
  
  .device-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
  }
  
  .device-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    height: 100%;
    width: calc(50% - 10px);
    background-color: antiquewhite;
  }

  .devices button {
    margin-top: 0.5rem;
    margin-left: 8rem;
    padding: 0.3rem 0.5rem;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    background: #FF4820;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .devices button[type="submit"]:hover {
    background-color: #fd6644;
  }
  
  @media screen and (min-width: 768px) {
    .device-card {
      width: calc(33.33% - 20px);
    }
  }
  @media screen and (min-width: 992px) {
    .device-card {
      width: calc(25% - 20px);
    }
  }
  
  .device-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .device-card-header h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .device-card-body p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .text_color{
    font-weight: bold;
    font-family: var(--font-family);
    padding: 0.5rem 1rem;
    /* color: whitesmoke; */
    color: #d7829d;
    font-size: 4rem;
  }

  .device_list{
    padding-left: 0rem;
    font-size: 1.2rem;
    font-weight: bold;
    list-style-type: none;
    /* color: #fad5d5; */
  }

  .device_list_box{
    margin-top: 1.2rem;
    background-color: #fad5d5;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 1.5rem;
    padding: 10px;
    width: calc(48% - 550px);
  }
  
  .dash_img{
    display: flex;
    margin-left: 70rem;
    margin-top: -450px;
    padding: 0 1rem;
    width: 35%;
    height: 35%;
  }